<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container-sobre">

    <img src="assets/screen.png" class="foto-perfil" />

    <h2>Sobre mim</h2>

    <p>
      Meu nome é Matheus Soares de Oliveira, sou estudante de Análise e Desenvolvimento de Sistemas.
      Estou aprendendo a desenvolver aplicativos utilizando o Ionic.
    </p>

    <ion-button expand="block" routerLink="/">
      Voltar
    </ion-button>

  </div>

</ion-content>