<ion-header>
  <ion-toolbar>
    <ion-title>Cartão de Identificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container-central">

    <ion-card>

      <img src="assets/screen.png" class="foto-perfil" />

      <ion-card-header>
        <ion-card-title>Matheus Soares De Oliveira</ion-card-title>
        <ion-card-subtitle>
          Turma: ADS0301M | Unidade: RJ-CG | Turno: Manha
        </ion-card-subtitle>
      </ion-card-header>

    </ion-card>

    <ion-button expand="block" routerLink="/sobre">
      Ver mais
    </ion-button>

  </div>

</ion-content>